<h2 mat-dialog-title> Ajout d'un utilisateur : </h2>

<mat-form-field class="username">
  <mat-label class="label_userName"> Nom utilisateur :</mat-label>
  <input matInput required [(ngModel)]="data.userName">
</mat-form-field>

<br>

  <mat-form-field class="password">
    <mat-label class="label_password"> Mot de passe :</mat-label>
    <input matInput
           required
           [type]="hide ? 'password' : 'text'" [(ngModel)]="data.password">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>

<mat-form-field class="confirm_password">
  <mat-label class="label_confirm_password"> confirmation mot de passe :</mat-label>
  <input matInput
         required
         [type]="hide ? 'password' : 'text'" [(ngModel)]="data.confirmPassword">
  <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
  </button>
</mat-form-field>

  <div mat-dialog-actions>
    <ng-container>
      <button mat-raised-button color="primary" [mat-dialog-close]="data"> Ajouter</button>
    </ng-container>

    <button mat-raised-button color="warn" (click)="onNoClick()"> Annuler</button>
  </div>


