
.login_container {
  width: 50%;
  padding-bottom: 5rem;
  padding-top: 2rem;
  position: absolute;
  top: 30%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  -webkit-box-shadow: 9px 13px 28px -2px rgba(0,0,0,0.68);
  -moz-box-shadow: 9px 13px 28px -2px rgba(0,0,0,0.68);
  box-shadow: 9px 13px 28px -2px rgba(0,0,0,0.68);
  border-radius: 5px;
}

.loginDiv {
  text-align: center;
}

