<div *ngIf="isLoading">
  <app-spinner></app-spinner>
</div>


<ng-container *ngIf="isNotStarted">
  <div class="">
    Regles du jeu : bla bla bla blaa
    <button mat-raised-button (click)="startQuizz()"> commencer le questionnaire</button>
  </div>
</ng-container>


<ng-container *ngIf="!isLoading">
  <ng-container *ngIf="!isNotStarted">
    <p id="{{question.id}}">  {{question.name}} </p>
    <mat-radio-group class="groupRadioReponse"  (change)="test($event)">

      <mat-radio-button class="radioReponse"
                        *ngFor="let reponseQuestion of question.reponses"
                        name="{{question.id}}"
                        [value]="reponseQuestion">
        {{reponseQuestion.name}}

      </mat-radio-button>
    </mat-radio-group>
    <button (click)="previousQuestion()"> Previous</button>

    <ng-container *ngIf="!isDisabled">
      <button (click)="validateReponse()">répondre</button>
    </ng-container>

    <ng-container *ngIf="isDisabled">
      <button disabled > Réponse soumise </button>
    </ng-container>

    <button (click)="nextQuestion()"> Next</button>
  </ng-container>
</ng-container>
