<div *ngIf="isLoading">
  <app-spinner></app-spinner>
</div>

<button class="float-left" mat-raised-button color="accent" [routerLink]="['/admin/examen/addquestion', this.idExam]"> Ajouter une question</button>

<ng-container *ngIf="!isLoading">
  <div class="container_question" *ngFor="let question of this.questions">

    <h2>  {{question.name}} </h2>

    <button mat-raised-button color="primary" class="btn_question" [routerLink]="['/admin/question/edit', question.id]"> Editer question</button>
    <button mat-raised-button color="warn" class="btn_question" (click)="deleteQuestion(question.id)"> Supprimer question</button>
    <button mat-raised-button color="accent"  class="btn_question float-right" (click)="openDialog(question)"> Ajouter une réponse</button>

    <ul>
      <li *ngFor="let reponse of question.reponses">
       <span class="true" *ngIf="reponse.isOk"> <fa-icon  class="check" [icon]="faCheck"> </fa-icon> </span>
       <span class="false" *ngIf="!reponse.isOk"> <fa-icon class="wrong" [icon]="faTimesCircle"> </fa-icon> </span>
        {{reponse.name}}
        <a (click)="deleteReponse(reponse.id)"> <fa-icon class="trash" [icon]="faTrash"></fa-icon> </a>
        <a [routerLink]="['/admin/reponse/edit', reponse.id]"> <fa-icon [icon]="faEdit"></fa-icon>  </a>
      </li>
    </ul>

  </div>

</ng-container>
