<ng-container *ngIf="isLoading">
  <h2>En chargement .....</h2>
</ng-container>
<button [routerLink]="['/admin/examen/addquestion', this.idExam]"> Ajouter une question </button>
<ng-container *ngIf="!isLoading">
  <div *ngFor="let question of this.questions">
    <h2>  {{question.name}} </h2>
    <button class="btn btn-primary" [routerLink]="['/admin/question/edit', question.id]"> Editer question</button>
    <button class="btn btn-primary" (click)="deleteQuestion(question.id)"> Supprimer question</button>

    <ul>
        <li *ngFor="let reponse of question.reponses" > {{reponse.name}} </li>
    </ul>

  </div>

</ng-container>
