<ng-container *ngIf="isLoading">
  <h2>En chargement .....</h2>
</ng-container>

<button class="float-right"[routerLink]="['/admin/examen/addquestion', this.idExam]"> Ajouter une question</button>

<ng-container *ngIf="!isLoading">
  <div *ngFor="let question of this.questions">
    <h2>  {{question.name}} </h2>

    <button class="btn btn-primary" [routerLink]="['/admin/question/edit', question.id]"> Editer question</button>
    <button class="btn btn-primary" (click)="deleteQuestion(question.id)"> Supprimer question</button>
    <button class="btn btn-primary" (click)="showFormAddReponse(question.id)"> Ajouter une réponse</button>


    <!-- ##################### Ajout de la réponse ##################-->
    <div *ngIf="question.id === questionId">
      <div *ngIf="writeReponse">
        <form #reponseForm="ngForm" (ngSubmit)="submitReponse(question.id)">
          <label for="reponseQuestion"> Saississez la réponse à ajouter : </label>
          <input type="text" name="reponseQuestion" id="reponseQuestion" required [(ngModel)]="reponseToquestion.name">
          <br>
          <label for="isOk"> Est ce la bonne réponse ? : </label>
          <select class="w-25 custom-select mr-sm-2" id="isOk" required [(ngModel)]="reponseToquestion.isOk"
                  name="isOk">
            <option> Mauvaise réponse</option>
            <option> Bonne réponse</option>
          </select>
          <br>
          <button type="submit">Ajouter la réponse</button>
        </form>
      </div>
    </div>
    <!-- ##################### FIN Ajout de la réponse ##################-->

    <ul>
      <li *ngFor="let reponse of question.reponses">
       <span *ngIf="reponse.isOk"> <fa-icon  class="check" [icon]="faCheck"> </fa-icon> </span>
       <span *ngIf="!reponse.isOk"> <fa-icon class="wrong" [icon]="faTimesCircle"> </fa-icon> </span>
        {{reponse.name}}
        <a (click)="deleteReponse(reponse.id)"> <fa-icon class="trash" [icon]="faTrash"></fa-icon> </a>
        <a [routerLink]="['/admin/reponse/edit', reponse.id]"> <fa-icon [icon]="faEdit"></fa-icon>  </a>
      </li>
    </ul>

  </div>

</ng-container>
