<h1>Liste des questionnaires</h1>
<ng-container *ngIf="isLoading">
<h2>En chargement ....</h2>
</ng-container>
<ng-container *ngIf="!isLoading">
  <table class="table table-striped table-dark w-75 m-auto">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Questinnaire</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let exam of this.examens">
        <th scope="row">{{ exam.id }}</th>
        <td>{{ exam.name }}</td>
        <td>
          <button class="btn" [routerLink]="['/admin/examen', exam.id]"> voir les questions </button>  /
          <button class="btn" [routerLink]="['/admin/examen/edit', exam.id]"> Editer </button> /
          <button class="btn" (click)="deleteExamen(exam.id)"> Supprimer </button>
        </td>
      </tr>
    </tbody>
  </table>
</ng-container>
