<h1>Liste des questionnaires</h1>

  <div *ngIf="isLoading">
    <app-spinner></app-spinner>
  </div>

<ng-container *ngIf="!isLoading">
  <table class="table table-striped table-dark w-75 m-auto">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Questinnaire</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let exam of this.examens">
        <th scope="row">{{ exam.id }}</th>
        <td>{{ exam.name }}</td>
        <td>
          <button mat-raised-button color="primary" [routerLink]="['/quizz/', exam.id]"> Répondre au questionnaire </button>  /
          <button mat-raised-button [routerLink]="['/admin/examen', exam.id]"> voir les questions </button>  /
          <button mat-raised-button [routerLink]="['/admin/examen/edit', exam.id]"> Editer </button> /
          <button mat-raised-button (click)="deleteExamen(exam.id)"> Supprimer </button>
        </td>
      </tr>
    </tbody>
  </table>
</ng-container>
